{% extends 'base.html' %} {% block title %}
<title>home</title>
{% endblock %} {% block body %}
<div class="main-container">
  <div class="channel-title">
    <h1>TalkList</h1>
    <p class="channel-title-text">CHANNELS</p>
  </div>
  <!--ルーム一覧表示
  <div id="channels-list">
    <div id="pagination-wrapper">
      <div>
        <div class="pagination-container">
          <p id="prev">
            <span>PREV</span>
          </p>
          <ul class="pagination"></ul>
          <p id="next">
            <span>NEXT</span>
          </p>
        </div>
      </div>
    </div>
    <ul class="channel-box"></ul>
  </div>
 -->
  <div id="footer">
    <p id="footer-text">BOUKYO FROM N-team</p>
  </div>
  <!--
  {% include 'modal/create-channel.html' %} {% include
  'modal/delete-channel.html' %}
  -->
  <a class="switch-auth-mode" href="{{ url_for('logout') }}">
    ログアウト
  </a>
</div>
{% endblock %} 
{% block script %}
<script type="text/javascript">
  // prettier-ignore
  const channels = JSON.parse('{{ channels|tojson }}');
  // prettier-ignore
  const uid = JSON.parse('{{ uid|tojson }}');
</script>
  <!--
<script
  src="{{url_for('static',filename='js/channels/create-channel.js')}}"
  type="module"
></script>
<script
  src="{{url_for('static',filename='js/pagination.js')}}"
  type="module"
></script>
<script
  src="{{url_for('static',filename='js/channels/delete-channel.js')}}"
  type="module"
></script>
{% endblock %}
  -->