<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/color.css">
    <link rel="stylesheet" href="../static/css/auth.css">
</head>

<body>
    <div class="auth-wrapper">
        <div class="auth-container">
            <img src="../static/img/man_and_woman_logo2.png"
            class="auth-main-pic"
            /> 
                <div class="auth-form-wrapper_log">
                <form class="auth-form" action ="{{ url_for('login_process') }}" method="post">
                <h1 class="auth-title">ログイン</h1>
                <div>
                    <label for="email-input">メール</label>
                    <input type="email" placeholder="Email" name="email" id="email-input"/>
                </div>
                <div>
                    <label for="password-input">パスワード</label>
                    <input type="password" placeholder="Password" name="password" id="password-input"/>
                </div>
                <div class="auth-button-container">
                    {% with messages = get_flashed_messages() %} {% if messages %}
                    <ul class="flashes">
                      {% for message in messages %}
                      <li>{{ message }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %} {% endwith %}          
                <button class="auth-button darkblue">ログイン</button>
                <a class="switch-auth-mode" href="{{ url_for('signup_view') }}">
                    登録はこちら
                </a>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>